{% load staticfiles %}
{% load i18n %}
{% if posted_to == 'burasabori' %}
<div style="display: table;">
    <div style="display: table-cell">
        <img src="{% static 'img/talk_kaeru5.png' %}" style="width: 70px;"/>
    </div>
<div style="display: table-cell; padding-left: 10px; font-size: 13px;">
<a target="_blank" href="{{ shop_url }}"><img src="{{ image_url }}" style="width:75%;"></a>
{% if related_urls.meal_url %}
<a target="_blank" href="{{ shop_url }}"><img src="{{ related_urls.meal_url }}" style="width:75%;"></a>
{% endif %}
<br>
<span style="font-size: 16px; color: #00d122;">今日も一日お疲れさまケロ。</span>
疲れた体を癒すケロよ。僕は今、<span style="font-size: 16px; font-weight: bold;">{{ name }}</span>で一杯やってるケロ。
来るケロ？？
<span style="font-size: 10px;">(画像：<a target="_blank" href="{{shop_url}}" style="font-size: 10px;">ぐるなび</a>)</span>
</div>

</div>
{% elif posted_to == 'twitter'%}今日も一日お疲れさまケロ。疲れた体を癒すケロよ。僕は今、{{ name }}で一杯やってるケロ。来るケロ？？ 詳しい場所は、「ぶらサボり」で確認するケロ^ ^。{% endif %}
